.nav{
    /* display: flex; */
    height: 70px;
    background-color: hsl(29, 74%, 39%);
    align-items: center;
     width: 100%;
    position: relative;
}

.nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 70px;
    margin-left: auto;
}

.nav ul li{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li:hover{
    cursor: pointer;
    background-color: #AA6F5D;
    font-weight: bold;
}

.nav ul li a{
    text-decoration: none;
    color: white
}

.nav ul li.active{
    background-color: blue;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.title{
    margin-left: 10px;
}