.btn { 
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #996233;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.btn:hover {
    background-color: #bf7b40;
    transform: translateY(-2px);
}

.form-group {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.form-control {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

type {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}